[submodule "kubernetes/csi-packet"]
	path = kubernetes/csi-packet
	url = https://github.com/packethost/csi-packet.git
[submodule "kubernetes/deployments/postgres/pgbouncer"]
	path = kubernetes/deployments/postgres/pgbouncer
	url = https://github.com/edoburu/docker-pgbouncer.git
